.mainCard{
    height: 30vh;
    /* width: 40vw; */
    background-color: #ffffff;
    border: 13px solid white;
    border-radius: 5vh ;
    padding: 5vh;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.detailsSection{
    max-width: 70vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cardTitle{
    font-size: 20px;
    line-height: 20px;
    font-family: sans-serif;
    font-weight: 700;
    color: #000000;
}

.cardDescription{
    font-size: 18px;
    line-height: 20px;
    font-family: sans-serif;
    font-weight: 400;
    color: #000000;
}