.proposalList{
    border-radius: 20px;
    margin: 70px 400px;
    padding: 10px 0px;
    background: radial-gradient(circle at 7.5% 24%, rgb(237, 161, 193) 0%, rgb(250, 178, 172) 25.5%, rgb(190, 228, 210) 62.3%, rgb(215, 248, 247) 93.8%);
}

.proposalCard{
    margin: 20px 70px 20px 70px;
}

.proposalCard div{
    margin: 20px;
}

.proposalCard img{
    border-radius: 50%;
    width: 70px;
}

.proposalCard img:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
  }

.proposalCard .status{
    background-color: red;
    border-radius: 10px;
    margin-left: 20px;
    padding: 3px;
}